DATABASE_URL=postgresql://user:password@host:5432/sellio
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=https://sellio.io
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OPENAI_API_KEY=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
RAZORPAY_KEY_ID=rzp_test_SvgUWQo8bQoEpw
RAZORPAY_KEY_SECRET=22RDF4Jgh64uaegbMGO3iHZz
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_STARTER_PLAN_ID=
RAZORPAY_GROWTH_PLAN_ID=
RAZORPAY_PRO_PLAN_ID=
RESEND_API_KEY=re_523pXCbv_rTTCZY1bqJVQbmrSmzKvLM7h 
NEXT_PUBLIC_APP_URL=https://sellio.io
